# Dify AI Configuration
DIFY_API_BASE_URL=https://api.dify.ai/v1
DIFY_API_KEY=your-dify-api-key-here
NEXT_PUBLIC_UMAMI_ID=438df938-ffeb-4e95-b23d-d609f882ae92
NEXT_PUBLIC_UMAMI_DOMAINS=bloomee.faizath.com
NEXT_PUBLIC_AI_HOST=bloomee-ai.faizath.com
NEXT_PUBLIC_BASE_DOMAIN=bloomee.faizath.com